<div id="question-form">
<h1>Create A New question</h1>
<ul>
<%= form_for @question do |f| %>
  <li>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>
  <li>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </li>
  <li>
    <%= f.submit %>
  </li>

<% end%>
</ul>
</div>