
<% if session[:user] != nil%>
<% @user = User.find(session[:user]) %>

<div class="user-greeting span_4_of_4">
  <h1> Hello <%= link_to @user.username, user_path(@user) %> </h1>
  <% end %>
</div>
<div class="question-view">
  <h1 class="question-title"><%= @question.title %></h1>
   <% if session[:user] == @question.user.id %>
   <%= link_to "edit your question", edit_question_path(@question) %>
   <% end %>
  <p><%= @question.body %></p>
  <ul>
    <% @question.answers.each do |answer| %>
    <li>
      <div>
        <%= answer.body %> - <%= link_to answer.user.username, user_path(answer.user) %>
      </div>
      <% answer.comments.each do |comment|%>
    </li>
    <li>
      <div><%= comment.body %> - <%= link_to comment.user.username, user_path(comment.user) %></div>
    </li>
    <li>
      <% if session[:user] != nil %>
        <%= render template: "comments/new" %>
    </li>
      <% end %>
    <% end %>
  <% if session[:user] != nil %>
    <% if session[:user] == answer.user.id %>
    <%= link_to "edit your answer", edit_answer_path(answer) %>
    <% end %>
  </div>


    <%= render template: "answers/new" %>


  <% end %>

<% end %>
</ul>
</div>

