<h1 class="user-greeting span_4_of_4">LOGIN!</h1>
<div class="user-login">
  <ul>
    <li>
      <%= form_tag :action => :signin do  %>
    </li>
    <li>
      <%= label_tag :username %>
      <%= text_field_tag :username %><br>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %><br>
    </li>
    <%= submit_tag :Login, :class=> 'menu-button'%>
    <% end %>
 </ul>
</div>
