<div id="user-profile">
  <span><%= link_to "Home Page", root_path %></span>
  <% if session[:user] == @user.id %>
   <%= link_to "edit your profile", edit_user_path(@user) %>

 <% end%>
  <h1>Welcome <%= @user.username %></h1>
  <div>
    <% @user.questions.each do |q|%>
      <h4 class="question-title"><%= link_to q.title,  question_path(q) %></h4>
      <p class="question-body"><%= q.body %></p>
    <% end %>
  </div>


</div>





