<!DOCTYPE html>
<html>
<head>
  <title>CAPSOVERFLOW</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="span_4_of_4" id ="top-bar"></div>
  <div class="span_2_of_4" id ="logo">
    <img id="logoimage" src="http://imgur.com/cljNx.png"/>
    <h1 id="logotext">CAPSoverflow</h1>
  </div>

<% if session[:user] != nil %>
    <% user = User.find(session[:user]) %>
  <div id="top-nav-logged_in">
    <ul id="logged-in-nav">
      <div id="user">
        <%= user.username %> is logged in
      </div>
      <li><button class="menu-button"> <%= link_to "SIGN OUT",   signout_path, :method => :get%></button></li>
      <li><button class="menu-button"> <%= link_to "ASK A QUESTION",  new_question_path %></button></li>
      <li><button class="menu-button"> <%= link_to "VIEW USERS",   all_users_path, :method => :get%></button class="menu-button">  </li>
      <li><button class="menu-button"> <%= link_to "VIEW QUESTIONS",  all_questions_path, :method => :get%></button></li>
    </ul>
  </div>
  <% else %>
  <div id="top-nav-logged_out">
    <ul>
      <li><button class="menu-button"><%= link_to "SIGN UP", new_user_path, :method => :get%></button></li>
      <li><button class="menu-button"><%= link_to "LOGIN", login_path, :method => :get%></button></li>
      <li><button class="menu-button"><%= link_to "VIEW QUESTIONS", all_questions_path, :method => :get%></li>
    </ul>
  </div>
<% end %>

<%= yield %>

</body>
</html>
